[submodule "firmware/libs/lvgl"]
	path = firmware/libs/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "firmware/libs/pico-sdk"]
	path = firmware/libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "firmware/libs/freeRTOS"]
	path = firmware/libs/freeRTOS
	url = https://github.com/freeRTOS/freeRTOS
[submodule "firmware/libs/uzlib"]
	path = firmware/libs/uzlib
	url = https://github.com/pfalcon/uzlib
[submodule "firmware/libs/cw_pico_library"]
	path = firmware/libs/cw_pico_library
	url = git@github.com:computer-whisperer/cw_pico_library.git
